body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(auto, 260px) auto;
    grid-template-rows: auto 72px;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}
#sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    place-self: center start;
    background-color: #141419;
    height: 100%;
    width: 100%;
}
.past_convo {
    margin: 8px;
    text-align: center;
    display: block;
}
#newconvo {
    height: 48px;
    margin: 16px 32px;
    display: block;
}
#newbutton {
    width: 100%;
    height: 100%;
    color: #000;
    font-weight: bold;
    background-color: #6dff70;
    border-radius: 26px;
    display: grid;
    place-items: center;
    grid-template-columns: 48px auto;
}
#newconvo svg {
    max-width: 32px;
}
#scrollarea {
    place-self: start center;
    overflow: hidden;
    max-height: 100%;
    display: flex;
}
#conversation {
    overflow: scroll;
}
#conversation img {
    min-width: 100px;
    max-width: 720px;
    aspect-ratio: attr(width) / attr(height);
}
.chat {
    margin: 10px;
}
.chat[data-role="human"]::before {
    content: url("icons/human_icon.svg");
}
.chat[data-role="robot"]::before {
    content: url("icons/robot_icon.svg");
}
#chatbox {
    background-color: #2f2f2f;
    place-self: end center;
    margin: 20px;
    padding: 6px;
    width: 100%;
    max-width: 760px;
    min-height: 40px;
    border-radius: 26px;
    display: grid;
    grid-template-columns: 1fr auto;
}
#message {
    background-color: #2f2f2f;
    height: 24px;
    padding: 8px;
    margin: 0;
    font-size: 1rem;
}
#send {
    align-self: center;
    background-color: #ffffff;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: 0;
    padding: 0;
}
#send[disabled] {
    background-color: #ffeeaa;
}
.code, .inline {
    background-color: #141419;
}
@media (max-width: 760px) {
    #chatbox {
        max-width: 100%;
    }
}
iframe[seamless] {
    border: none;
}